.mapboxgl-popup-content {
    font-family: Calibri Light, sans-serif;
    font-size: 13px;
    background-color: rgba(73, 61,61, 0.85);
    color: #d8d7d7;
    box-shadow: 3px 3px 2px #8B5D33;
    border-radius: 4px;
}
.mapboxgl-popup-close-button {
    color: #cccccc;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgba(73, 61,61, 0.85);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgba(73, 61,61, 0.85);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color:rgba(73, 61,61, 0.85);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color:rgba(73, 61,61, 0.85);
}